<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <!--table-->

    <div action="/about">
    <center>
        <font color="black" size="4" style="font-family: avenir">
    
            <h1 style="color: DodgerBlue">About Us</h1>
            <h4 style="color:black">Our Portfolio</h1>

            <table border="2" width="30%" height="600px">
            <tr>
            <td colspan="2">
                <div style="text-align: center;">
            <font size="5" face="Helvetica">{{ fname }}'s Portfolio</font>
        </div>
            </td>
            </tr>
            <td>
                <div style="text-align: center;"><br><br>
            <img src="https://pbs.twimg.com/profile_images/1389140738827501568/RUeCH5Dg_400x400.jpg" align="center" width="500px" height="500px">
            <font size="5" face="Helvetica"> <br> {{ image_url }} <br><br></font>
                </div>   
            </td>

            <tr>
                <td>
                    <div style="text-align: center;">
                    <br><font size="4" face="Helvetica">

			  		Name: {{ fname }} {{ lname }} <br><br>

			  		Primary Interest: {{ interest }} <br><br>

			  		Location: {{ location }} <br><br>

			  		
</font>
                    </div>
                </td>
            </tr>

            </tr>
        </table>
    </div>

    
</body>
</html>
